*.o
*~
bb_alarm
bb_create
bb_ftdi
bb_kitt
bb_list
bb_log
bb_mmon
bb_mnom
bb_mon
bb_mon_ping
bb_nom
bb_parport
bb_print
bb_printlog
bb_set
bb_xor
bb_remote
bb_vmstat
bb_createlog
bb_filter
bb_dio
bb_procvar
rv
bb_gui/Makefile
bb_gui/bb_gui
bb_gui/bb_gui.pro
bb_gui/moc_bb_checkbox.cpp
bb_gui/moc_bb_mon.cpp
